# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PySide / Qt (alguns temporários possíveis)
*.qmlc
*.jsc
*.pyo

# Local test files (opcional)
# dialogues_test.json